[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = ">=2.0.2"
flask-sqlalchemy = "==2.5.1"
flask-migrate = "==2.5.2"

[dev-packages]

[requires]
python_version = "3.8"
